@use "../utilities/variables";
@use "../utilities/extend";

// ===== SISTEMA DE SECCIONES =====
.container {
    @extend %container-base;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem 2rem;
    margin-bottom: 2rem;
    grid-template-areas: 
        "subtitle title"
        ". description"  
        ". tags";

    h2 {
        grid-area: subtitle;
        align-self: start;
    }

    h1, h3, h4 {
        grid-area: title;
        text-align: left;
        align-self: start;
    }

    p {
        grid-area: description;
        align-self: start;
        text-align: left;
        max-width: none;
    }

    .tags {
        grid-area: tags;
        align-self: start;
    }
}