@use "../utilities/variables";

// ===== ESTILOS GLOBALES =====

body {
    font-family: variables.$font-body;
    font-weight: 400;
    line-height: 1.5;
    color: variables.$color-text;
    background-color: variables.$color-bg-primary;
}